.vs/
.vscode/
Assembly-CSharp.csproj
EnoxSoftware.OpenCVForUnity.Editor.csproj
EnoxSoftware.OpenCVForUnity.csproj
Library/*
Logs/*
NatCorderWithOpenCVForUnity.sln
NatSuite.Recorders.csproj
NativeGallery.Editor.csproj
NativeGallery.Runtime.csproj
Packages/*
ProjectSettings/*
Temp/
Unity.*
UnityEditor.*
UnityEngine.*
UserSettings/*
obj/
recording*
